# System
.DS_Store
Thumbs.db

# Node Local Dev
node_modules/
package.json
package-lock.json
server.mjs
local_server.mjs

# Python & Scraping
__pycache__/
*.pyc
*.py
ref.html
slides_data.json

# Local dev dist folder (everything is deployed from root)
dist/
